<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--资源帮帮相关SQL脚本 开始-->
  <Command name="NewResourceRequest">
    <![CDATA[
  insert into ReSourceRequest(Content,Contact,AddTime,IPAddr) values(@Content,@Contact,@AddTime,@IPAddr)
  ]]>
  </Command>
  <Command name="EnableResourceRequest">
    <![CDATA[
  update ReSourceRequest set IsEnable=IsEnable-1 where Id=@RId
  ]]>
  </Command>
  <Command name="UpdateResourceRequest">
    <![CDATA[
    update ReSourceRequest set Content=@Content,Content=@Content,UpdateTime=@UpdateTime where Id=@RId
  ]]>
  </Command>
  <Command name="UsefulRequest">
    <![CDATA[
    update ReSourceRequest set useful=useful+1 where Id=@RId
    ]]>
  </Command>
  <Command name="GetSingleResourceRequest">
    <![CDATA[
  select Id, Content, Contact, useful, AddTime, UpdateTime, IPAddr, IsEnable, 
  (select count(Id) from dbo.ReSourceRequest_Reply where RequestId=@RId) as ReplyCount
  from dbo.ReSourceRequest where Id=@RId
  ]]>
  </Command>
  <Command name="GetListResourceRequest">
    <![CDATA[
  select Id, Content, Contact, useful, AddTime, UpdateTime, IPAddr, IsEnable from dbo.ReSourceRequest 
  ]]>
  </Command>
  <Command name="GetTimesByIP">
    <![CDATA[
    select Id, Content, Contact, useful, AddTime, UpdateTime, IPAddr, IsEnable from dbo.ReSourceRequest where IPAddr=@IPAddr
    ]]>
  </Command>  
  <Command name="Common_SP_Paging">
    <![CDATA[
  dbo.SP_Common_Paging
  ]]>
  </Command>  
  <!--资源帮帮相关SQL脚本 结束-->
  
  <!--免费VIP相关SQL脚本 开始-->
  <Command name="CheckUserVilid" desc="根据请求来源以及请求标识来检查某一用户的请求记录">
    <![CDATA[
    select vl.Id, vl.IdentityType, vl.IdentityNum, vl.VIPId, vl.IPAddr, vl.UseTime , vt.VIPName
    from dbo.VIPLog vl join dbo.FreeVIP fv on vl.VIPId = fv.Id join dbo.VIPType vt on vt.Id=fv.TId where vl.IdentityType=@IdentityType and vl.IdentityNum=@IdentityNum or vl.IPAddr=@IPAddr and DateDiff(dd,UseTime,getdate())=0
    ]]>
  </Command>
  <Command name="CheckAccountHasUsedTimes" desc="检查账号分配的用户个数，如优酷，如果已经分配给5个人，则把此账号的Enable属性置为false">
    <![CDATA[
        select distinct IPAddr,Id, IdentityType, IdentityNum, VIPId,  UseTime from dbo.VIPLog where VIPId=@VIPId
    ]]>
  </Command>
  <Command name="UpdateAccountEnable" desc="将账号的Enable属性置为False">
    <![CDATA[
    update dbo.FreeVIP set IsEnable=0 where Id=@Id
    ]]>
  </Command>
  <Command name="GetNewAccount" desc="获取新的账号">
    <![CDATA[
    select top(1) fv.Id, fv.TId, fv.Account, fv.Pwd, fv.StartTime, fv.ValidTime, fv.Notes, fv.IsEnable
    from dbo.FreeVIP fv join dbo.VIPType vt on fv.TId=vt.Id where fv.IsEnable=1 and vt.VIPName=@VIPName
    ]]>
  </Command>
  <Command name="WriteVIPLog" desc="日志记录账号使用状态">
    <![CDATA[
    insert into dbo.VIPLog(IdentityType, IdentityNum, VIPId, IPAddr)
    values(@IdentityType, @IdentityNum, @VIPId, @IPAddr)
    ]]>
  </Command>
  <Command name="GetAccountById" desc="根据Id获取账号信息">
    <![CDATA[
    select Id, TId, Account, Pwd, StartTime, ValidTime, Notes, IsEnable from dbo.FreeVIP where Id=@Id
    ]]>
  </Command>
  
  <!--免费VIP相关SQL脚本 结束-->
</configuration>
