<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <BaseInfo name="AccountCanUseTimes" desc="每个账号可以使用的次数，这里的配置节点字符串以及大小写请和数据库中的VIPType的Name字段保持一致">
    <xunlei>1</xunlei>
    <aiqiyi>5</aiqiyi>
    <youku>5</youku>
    <leshi>5</leshi>
    <haolaiwu>1</haolaiwu>
    <PPTV>5</PPTV>
    <tudou>5</tudou>
    <PPS>5</PPS>
    <souhu>5</souhu>
  </BaseInfo>
  <BaseInfo Name="WXBaseInfo">
    <CorpID>wx6cc0e2e474593ee7</CorpID>
    <CorpSecret>3FwSUHPIYU43ZnhYhveqA902QZElxp5XDXmgc-PGbxyaV4cq2gMX0jVdVFCFxrFr</CorpSecret>
    <Token>DIDUUWXTokenKey</Token>
    <AESKey>exhxcRVGB9vt6nCpA6uchb2aeexnFKSUjYtPngckujJ</AESKey>
  </BaseInfo>
  <BaseInfo name="" desc=""></BaseInfo>
</configuration>
